<button class="btn btn-outline-primary" (click)="EventAddUser()">Add User</button>
<button class="btn btn-outline-success" (click)="EventListuser()">List User</button>
<button class="btn btn-outline-success" (click)="EventListPropertie()">List Properties</button>
<hr>
<div *ngIf="msg.length>0 ">

    <div class="alert alert-success" role="alert" *ngIf="band">
        {{msg}}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="band==false">
        {{msg}}
    </div>
</div>
<table *ngIf="users.length > 0 && bandState==1" class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Adress</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.adress}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>
                <button class="btn btn-outline-warning" (click)="edit(item)"> Edit</button>
                <button class="btn btn-outline-primary" (click)="getPropertiesUser(item)">Propertie</button>
                <button class="btn btn-outline-danger" (click)="remove(item.idUser)"> Remove</button>
            </td>
        </tr>
    </tbody>
</table>

<form (ngSubmit)="Seva(f)" #f="ngForm" *ngIf="bandState==2">
    <div class="row">
        <div class="col">
            <label>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName"
                placeholder="First Name">
        </div>
        <div class="col">
            <label>Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Adress</label>
            <input type="text" class="form-control" [(ngModel)]="user.adress" name="adress" placeholder="Adress">
        </div>
        <div class="col">
            <label>Phone</label>
            <input type="phone" class="form-control" [(ngModel)]="user.phone" name="phone" placeholder="Phone">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>E-mail</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="E-mail">
        </div>
    </div>
    <hr>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-success">
            <i class="fa fa-save"></i>
            Guardar
        </button>
    </div>
</form>
<div *ngIf="bandState==3">
    
    <form (ngSubmit)="SevaPropertie(f)" #f="ngForm">

        <div class="row">
            <div class="col">
                <label>Propertie Name</label>
                <input type="text" class="form-control" [(ngModel)]="propertie.name" name="name"
                    placeholder="Propertie Name">
            </div>
            <div class="col">
                <label>Propertie Location</label>
                <input type="text" class="form-control" [(ngModel)]="propertie.location" name="location"
                    placeholder="Propertie Location">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Propertie Price</label>
                <input type="number" class="form-control" [(ngModel)]="propertie.price" name="price"
                    placeholder="Propertie Price">
            </div>
            <div class="col">
                <label>Owner</label>
                <select class="form-control" [(ngModel)]="propertie.idUser" name="idUser">
                    <option *ngFor="let item of users;" [ngValue]='item.idUser'>{{item.firstName}} - {{item.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-success">
                <i class="fa fa-save"></i>
                Guardar
            </button>
        </div>
    </form>
    <table *ngIf="properties.length > 0 " class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th>Opciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of properties; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.location}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button class="btn btn-outline-warning" (click)="editPropertie(item)"> Edit</button>
                    <button class="btn btn-outline-danger" (click)="removePropertie(item.idPropertie)"> Remove</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>


  <div class="card-deck" *ngIf="bandState==1" >
      <h3>{{detalleUser.firstName}} {{detalleUser.lastName}}</h3>
    <div class="card" *ngFor="let item of detallePropertie;">
      <div class="card-body">
        <h5 class="card-title"><b>Name: </b>{{item.name}}</h5>
        <p class="card-text"><b>Location: </b>{{item.location}}.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><b>Price: </b>{{item.price}}</small>
      </div>
    </div>
   
  </div>
<br>